<style>
        body        {
		      	background-color:black	;
			padding-top:3px;

			 }


	.well	        {
			background:white;
			color:black;
			}
</style>

<style>
        input.ng-pristine {
            border-color:black;
        }

        input.ng-touched.ng-invalid {
            border-color:#FFAAAA;
            background-color: #FFEEEE;
        }

        input.ng-touched.ng-valid {
            border-color:green;
        }

    </style>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign Up  </h1>
            <div class="account-wall">
              <div class="alert-info text-center">{{server_response}}</div><br>
                <form name = "myform" class="form-signin" >
                    <!--<div class="form-signin">-->

                <input ng-change= "signupHelper()" ng-model="username" name="username" type="text" class="form-control" placeholder="Username" required autofocus>
                <input ng-model="password" name="password" type="password" class="form-control" placeholder="Password" required autofocus>
		        <input ng-model="firstname" name="firstname" type="text" class="form-control" placeholder="First Name" required autofocus>
		        <input ng-model="lastname" name="lastname" type="text" class="form-control" placeholder="Last Name" required autofocus>

            <input ng-model="email" name="email" type="email" class="form-control" placeholder="Email" required autofocus>

<span ng-show="studentForm.email.$touched && studentForm.email.$error.email">Please enter valid email id.</span><br /><br />

            <input ng-model="mobileno" name="mobileno" maxlength="10" type="text" pattern="[789][0-9]{9}" class="form-control" placeholder="Mobile no " required autofocus>
                <button ng-click="signup()"  class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign Up</button>

                <a href="#" class="pull-right need-help"> </a><span class="clearfix"></span>
                </form><!--</div>-->
            </div>
            <a  class="text-center new-account"></a>
        </div>
    </div>
</div>
<style>
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
</style>
